<% if notice %>
  <p class="alert alert-success text-center" style="margin-bottom: 0;"><%= notice %></p>
<% end %>

<% if alert %>
  <p class="alert alert-danger text-center" style="margin-bottom: 0;"><%= alert %></p>
<% end %>