<footer class="container-fluid" style="border-top: 1px solid #dee2e6;">
  <div class="row py-5">
    <div class="col-md-3 offset-md-1">
      <a class="navbar-brand" href="/">
        <%#= image_tag("logo-url-here", style: "height: 20px;") %>
      </a>
      <p class="text-muted mt-3">Blurb about company here</p>
    </div>
    <div class="col-md-2 offset-md-1">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li class="my-2"><a class="text-muted" href="#">Contact Us</a></li>
        <li class="my-2"><a class="text-muted" href="#">Privacy</a></li>
        <li class="my-2"><a class="text-muted" href="#">Terms</a></li>
      </ul>
    </div>
    <div class="col-md-2">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li class="my-2"><a class="text-muted" href="#">Pricing</a></li>
        <li class="my-2"><a class="text-muted" href="#">Features</a></li>
        <li class="my-2"><a class="text-muted" href="#">FAQ</a></li>
      </ul>
    </div>
    <div class="col-md-2">
      <h5>Another Section</h5>
    </div>
  </div>
</footer>