<div class="container">
  <div class="row text-center" style="margin-top: 150px;">
    <div class="col-md-12">
      <h1 class="display-3 font-weight-bold">Welcome to RailRoad</h1>
      <p class="text-muted lead">A Rails app template for quick development including authentication, styling and more.</p>
      <%= image_tag('railroad.svg', style: "height: 150px;") %>
    </div>
  </div>
</div>